/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/14/2020, 11:06:46 a. m.
    Author     : avbravo

Colores
https://materializecss.com/color.html
*/

/*

top

*/
:root{
    --oscuro: #00695c;
    --claro: #4db6ac;
    --colortexto1: #fff;
    --colorfondohighlight: gray;
}

.nav-wrapper, .nav-wrapper .ui-outputlabel {
    background-color: var(--oscuro) !important;
    font-size: 14px;
    font-weight: bold;
    color: var(--colortexto1);
}

/*

footer

*/

.page-footer,.page-footer .ui-outputlabel {
    background-color: var(--oscuro)  !important;
    color: var(--colortexto1);
    font-family: "latoregular","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
}
/*
left del menu debe ser un color dark 3 para que se note la diferencia
*/

.left-menu{
    background-color: var(--claro) !important;
    color: black;
}

button.ui-button.ui-widget.colornomral
{
    color: var(--claro);
}

/*
<p:menuButton styleClass="pmenuButtton"
*/


.pmenuButton .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-color: var(--oscuro) !important;
    background: var(--oscuro) !important;
    border: 1px solid #004d40;
    /*color: #E3E3E3;*/
    color: #000;
    font-weight: normal;
}
button.ui-button.ui-widget.colornomral{
    background-color: var(--claro);
    color: #000;
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default{
    background-color: var(--claro);
    color: var(--colortexto1);
}
button.ui-button.ui-state-hover, .ui-button.ui-state-hover, button.ui-button.ui-state-focus, .ui-button.ui-state-focus{
    background-color: var(--colorfondohighlight);
    color: var(--colortexto1);
}